.page {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.sidebar {
  /* background-color: #888888; */
  border-right: 0.5px solid #9f9f9f;
}