.nav {
  height: 110px;
  font-family: 'Rubik', sans-serif;
  border-bottom: 0.5px solid #9f9f9f !important;
  position: -webkit-sticky;
  position: sticky !important;
  top: 0 !important;
  z-index: 1;
}

.container {
  padding-left: 30px !important;
  padding-right: 30px !important;
  display: flex;
  justify-content: space-between;
}

/* section: left */
/* brand */
.brand {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
  color: #0B132A;
  /* margin-left: 30px; */
}

/* section: center */
.center {
  justify-content: center;
}

/* links */
.page {
  font-size: 16px;
  color: #4F5665 !important;
}

.page_on {
  color: #6A4029 !important;
  font-weight: bolder !important;
}

/* section: right */
.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* auth */
.login {
  font-weight: 500 !important;
  color: #0B132A !important;
  margin-right: 35px;
}

/* profile */
.profile>img {
  border-radius: 50%;
}

.profile_on>img {
  border-radius: 50%;
  border: 2px solid #6A4029;
  -webkit-filter: drop-shadow(0px 6px 20px rgba(106, 64, 41, 0.8));
  filter: drop-shadow(0px 6px 20px rgba(106, 64, 41, 0.8));
}