.container {
  border-radius: 15px !important;
  padding: 70px 50px 50px;
  color: #362115;
}

/* title */
.title {
  font-weight: bolder;
  margin-bottom: 50px;
}

/* cart: items */
.list {
  display: flex;
  flex-direction: column;
}

.items_list {
  display: flex;
  align-items: center;
  margin: 10px 0 5px;
}

.items_list>span {
  font-size: 18px !important;
}

.img>img {
  margin-right: 30px;
  border-radius: 20px !important;
}

.amount {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  color: #000000 !important;
}

.amount>span {
  font-size: 18px !important;
}

/* cart: bill */
.detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 18px;
}

.total {
  margin-top: 30px;
}

.total>h4 {
  font-weight: bolder !important;
}