/* .left_side { */
/* height: 100%; */
/* background-color: burlywood; */
/* } */

.card {
  min-height: 50vh;
  border-radius: 15px !important;
  padding: 70px 50px 50px;
}

.title {
  margin-bottom: 50px;
}

.list {
  display: flex;
  flex-direction: column;
}

.items_list {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.img {
  margin-right: 10px;
  border-radius: 30px;
}

.detail {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.amount {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}