.bg {
  height: 100%;
  /* min-height: calc(100vh - 110px); */
}

.container {
  padding: 25px 30px 50px !important;
}

/* breadcrumb */
.crumb {
  font-size: 20px;
  color: #4F5665;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 40px;
}

.crumb_active {
  color: #6A4029;
  font-weight: bold;
  --bs-breadcrumb-divider: '>';
}

/* main */
.main {
  display: flex;
  justify-content: space-between;
}