.container {
  max-height: 100vh !important;
  /* overflow-y: hidden !important; */
}

.main {
  max-height: calc(100vh - 90px) !important;
  /* overflow-y: auto !important; */
}

.content {
  padding: 25px 30px 50px !important;
}

/* breadcrumb */
.crumb {
  font-size: 20px;
  color: #4F5665;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 40px;
}

.crumb_page:hover {
  padding-bottom: 3px !important;
  border-bottom: 3px solid #6A4029 !important;
}

.crumb_active {
  color: #6A4029;
  font-weight: bold;
  --bs-breadcrumb-divider: '>';
}

/* section */
.section {
  display: flex;
  justify-content: space-between;
}