.bg {
  font-family: 'Rubik';
  min-height: calc(100vh - 110px);
  background-image: url('../../../assets/bg_cart.png');
  background-size: cover;
}

.container {
  padding: 50px 30px 80px !important;
}

/* title */
.title>h2 {
  font-weight: 500;
  margin-bottom: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

/* main */
.main {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
}