.container {
  min-height: 100vh !important;
  /* overflow-y: hidden !important; */
}

.main {
  /* overflow-y: auto !important; */
  font-family: 'Rubik', sans-serif;
  /* max-height: calc(100vh - 90px) !important; */
  background-image: url('../../../assets/bg_cart.png');
  background-size: cover;
}

.content {
  padding: 50px 30px 80px !important;
}

/* title */
.title>h2 {
  font-weight: 500;
  margin-bottom: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

/* main */
.section {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}