.nav {
  height: 90px;
  font-family: 'Rubik', sans-serif;
  border-bottom: 0.5px solid #9f9f9f !important;
  position: -webkit-sticky;
  position: sticky !important;
  top: 0 !important;
  z-index: 2;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

/* section: left */
.brand {
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.brand:hover {
  -webkit-filter: drop-shadow(0px 6px 20px rgba(106, 64, 41, 0.8));
  filter: drop-shadow(0px 6px 20px rgba(106, 64, 41, 0.8));
}

.brand>span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
  color: #0B132A !important;
}

.brand>span:active {
  color: #4F5665 !important;
}