.container {
  font-family: 'Rubik', sans-serif;
  min-height: 110vh !important;
}

.content {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
  /* background-color: tomato; */
}

.main {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: auto au!important; */
}

/* section: left */
.side_left {
  height: 400px;
  display: flex;
  /* background-color: tan; */
  /* border: 1px solid black; */
}

/* section:right */
.side_right {
  height: auto;
  /* background-color: tan; */
  /* border: 1px solid black; */
}